$main-color: #5581E0;
$second-color: #A8E03F;

$main-additional-color: #294B94;
$second-additional-color: #80bb16;

$additional-color: #E07F6C;
$BasePaddingLeft: 20px;
body{
  font-family: Tahoma, Geneva, sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

a{
  color: #000;
}
a:hover{
  color: #000;
  text-decoration: none;
}
.vue-phone-number-input {
  width: 100%;
}
